body,
html {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.registro-box {
  max-width: 600px;
  width: 100%;
}

.form-check-label {
  color: #ffc107; /* texto oscuro para buena visibilidad */
  font-weight: 500;
  margin-left: 8px;
}

.form-check-input {
  accent-color: #ffc107; /* amarillo Bootstrap para los radios */
}
